# Environment files
.env
.env.*
*.local

laxenta/laxenta/ffmpeg
laxenta/laxenta/ffprobe
laxenta/laxenta/ffmpeg.exe
node_modules/
dist/

# Editor settings
.vscode/
.DS_Store

# Logs
*.log
.env
node_modules/
dist/
.vscode/
ffmpeg/
ffprobe/
# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo
# ngrok
ngrok/
ngrok.log